In [57]:
import pandas as pd
import numpy as np

In [59]:
data = pd.read_csv('Orignal_Data.csv')
data.dropna(inplace=True)
data = data.reset_index(drop=True)
Labels = ['Home_Team', 'Away_team', 'Home_score', 'Away_score', 'Season', 'Result']

In [60]:
data["Result"] = data.apply(
    lambda row: "Win" if row["Home_score"] > row["Away_score"]
    else "Loss" if row["Home_score"] < row["Away_score"]
    else "Draw", axis=1
)
data

,Unnamed: 0,Home_Team,Away_team,Home_score,Away_score,Season,Result
0,0,Stade rennais FC,Olympique Lyonnais,1.0,1.0,2010-2011,Draw
1,1,Stade rennais FC,FC Nantes,4.0,0.0,1970-1971,Win
2,2,'Rayo Vallecano',Malaga,3.0,0.0,2001-02,Win
3,3,'Real Madrid',Zaragoza,1.0,0.0,1982-83,Win
4,4,LOSC Lille r?erve,SC Abbeville,1.0,2.0,1974-1975,Loss
...,...,...,...,...,...,...,...
121181,121181,Paris Saint-Germain,Stade rennais FC,0.0,0.0,2010-2011,Draw
121182,121182,SC Toulon,FC Metz,2.0,0.0,1986-1987,Win
121183,121183,Red Star FC,US Cr?eil-Lusitanos,1.0,1.0,2021-2022,Draw
121184,121184,Stade fran?is,OGC Nice,2.0,2.0,1963-1964,Draw
121185,121185,FCM Aubervilliers,AS Cherbourg,1.0,2.0,1993-1994,Loss

In [62]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.22, random_state=42)
for train_index, test_index in split.split(data, data["Result"]):
 strat_train_set = data.loc[train_index]
 strat_test_set = data.loc[test_index]

In [63]:
data = strat_train_set.copy()
data = data.reset_index(drop=True)
data.drop('Unnamed: 0', axis=1,inplace=True)
# data.columns

In [64]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
Season = ordinal_encoder.fit_transform(pd.DataFrame(data['Season']))
Result = ordinal_encoder.fit_transform(pd.DataFrame(data['Result']))
Season = pd.DataFrame(Season)
Result = pd.DataFrame(Result)
data['Season'] = Season
data['Result'] = Result

In [65]:
from category_encoders import TargetEncoder
target_encoder = TargetEncoder()
Home_team = target_encoder.fit_transform(X=data['Home_Team'], y=data['Result'])
away_team = target_encoder.fit_transform(X=data['Away_team'], y=data['Result'])

In [73]:
Data = data.copy()
Data

,Home_Team,Away_team,Home_score,Away_score,Season,Result
0,Toulouse FC,Olympique de Marseille,2.0,1.0,102.0,2.0
1,AAJ blois football,FC Libourne,2.0,0.0,41.0,2.0
2,Racing Club de France,Racing Besan?n,5.0,1.0,60.0,2.0
3,Le Mans FC,Stade Malherbe Caen,2.0,0.0,87.0,2.0
4,Espanol,Barcelona,1.0,1.0,84.0,0.0
...,...,...,...,...,...,...
94520,Levante,'Atletico de Bilbao',1.0,2.0,116.0,1.0
94521,FC Istres,Amiens SC,1.0,1.0,145.0,0.0
94522,Amiens SC,US Le Mans,1.0,1.0,28.0,0.0
94523,SC Toulon,CS Bl?od,2.0,0.0,53.0,2.0
94524,La Roche VF,Le Havre AC,0.0,2.0,73.0,1.0

In [77]:
data['Home_Team'] = Home_team
data['Away_team'] = away_team
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
data = std_scaler.fit_transform(data)

,Home_Team,Away_team,Home_score,Away_score,Season,Result
0,Toulouse FC,Olympique de Marseille,2.0,1.0,102.0,2.0
1,AAJ blois football,FC Libourne,2.0,0.0,41.0,2.0
2,Racing Club de France,Racing Besan?n,5.0,1.0,60.0,2.0
3,Le Mans FC,Stade Malherbe Caen,2.0,0.0,87.0,2.0
4,Espanol,Barcelona,1.0,1.0,84.0,0.0
...,...,...,...,...,...,...
94520,Levante,'Atletico de Bilbao',1.0,2.0,116.0,1.0
94521,FC Istres,Amiens SC,1.0,1.0,145.0,0.0
94522,Amiens SC,US Le Mans,1.0,1.0,28.0,0.0
94523,SC Toulon,CS Bl?od,2.0,0.0,53.0,2.0
94524,La Roche VF,Le Havre AC,0.0,2.0,73.0,1.0

In [87]:
data = pd.DataFrame(data)
data.columns = Labels

       Home_Team  Away_team  Home_score  Away_score    Season    Result
0       0.289109  -0.652649    0.327175    0.011795  0.617410  0.924661
1      -0.296505  -0.552567    0.327175   -0.939502 -0.720725  0.924661
2       0.316627   1.587871    2.564044    0.011795 -0.303929  0.924661
3      -0.452575   0.155862    0.327175   -0.939502  0.288360  0.924661
4       0.303590  -2.613401   -0.418448    0.011795  0.222550 -1.422090
...          ...        ...         ...         ...       ...       ...
94520  -0.267225   0.103485   -0.418448    0.963092  0.924523 -0.248715
94521  -0.222275  -0.931640   -0.418448    0.011795  1.560686 -1.422090
94522  -0.593781   0.356216   -0.418448    0.011795 -1.005901 -1.422090
94523   0.060227  -1.674065    0.327175   -0.939502 -0.457485  0.924661
94524  -1.965051  -0.265347   -1.164071    0.963092 -0.018753 -0.248715

[94525 rows x 6 columns]

In [89]:
data.to_csv('Data.csv')